@model IEnumerable<AMST4.Carousel.MVC.Models.Product>

@{
    ViewData["Title"] = "ProductList";
}

<h1>Produtos Cadastrados</h1>

<p>
    <a asp-action="AddProduct" class="btn btn-success">Criar Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                Categoria
            </th>
            <th>
                Tamanho
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    @item.Size.Description
                </td>
                
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="ProductDetails" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="DeleteProduct" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
