@model IEnumerable<AMST4.Carousel.MVC.Models.Product>

@{
    ViewData["Title"] = "ProductList";
}

<h1 class="my-4 text-center">Produtos Cadastrados</h1>

<div class="mb-4 text-right">
    <a asp-action="AddProduct" class="btn btn-success">Criar Novo Produto</a>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h4>
                    <p class="card-text">
                        <img width="50%" src="~/@item.ImageUrl"><br />
                        <strong>Categoria:</strong> @item.Category.Description
                        <a asp-controller="Product" asp-action="ProductListByCategory" asp-route-categoryId="@item.Category_Id"><img class="rounded-circle" width="10%" src="~/@item.Category.ImageUrl"></a><br />
                        <strong>Tamanho:</strong> <a asp-controller="Product" asp-action="ProductListBySize" asp-route-sizeId="@item.Size_Id" class="text-primary">@item.Size.Description</a><br />
                        @if(!item.IsActive)
                        {
                        <strong>Esgotado</strong> 
                        }
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="ProductDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Deletar</a>
                </div>
            </div>
        </div>
    }
</div>
