@model IEnumerable<AMST4.Carousel.MVC.Models.Category>

@{
    ViewData["Title"] = "Lista de Categorias";
}

<div class="container my-5">
    <h2 class="text-center mb-4">Categorias Disponíveis</h2>
    <div class="text-right mb-3">
        <a asp-action="AddCategory" class="btn btn-outline-success btn-lg">+ Nova Categoria</a>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow">
                    <img src="~/@item.ImageUrl" alt="@item.Description" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h5>
                        <div class="text-center">
                            <a asp-controller="Product" asp-action="ProductListByCategory" asp-route-categoryId="@item.Id" class="btn btn-primary">Ver Produtos</a>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Editar</a>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalhes</a>
                        <a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Deletar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
